<div class="row">
  <div class="btn-group col-sm-offset-2">
    <a type="button" class="btn btn-default" aria-label="Add Contact" ui-sref="app.contact">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
<div ui-scroll-viewport class="viewport col-sm-offset-2 col-sm-8">
  <div class="media" ui-scroll="contact in contactDatasource">
    <div class="media-left media-middle">
        <a ui-sref="app.contact.edit({id:contact.id})">
          <img class="media-object img-thumbnail"
             ng-src={{contact.image}} alt="{{contact.name}}" height="64" width="64">
        </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading">
        {{contact.name}} {{contact.surname}}
      </h2>
      <address>
        <i class="fa fa-phone"></i>: {{contact.phone}}<br>
        <i class="fa fa-envelope"></i>:
        <a href="mailto:{{contact.email}}">{{contact.email}}</a>
      </address>
    </div>
  </div>
</div>
</div>
